#main {
  display: inline-block;
  width: 100%;
  max-width: 1150px;
  padding-top: 80px;
  color: #555; }

.align-right {
  text-align: right; }
  .align-right button {
    display: inline-block !important; }

.input-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start; }
  .input-row .card {
    width: 100%;
    max-width: 275px; }
    @media (max-width: 570px) {
      .input-row .card {
        max-width: 380px; } }

button i {
  color: #555;
  transition: color 0.15s;
  display: inline-block !important; }

button.remove i {
  color: #555;
  transition: color 0.15s; }
button.remove:hover i {
  color: black; }

button {
  font-size: 0.8em;
  text-transform: uppercase; }

input.non-md {
  padding: 12px;
  margin: 4px 0;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12);
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 14px;
  color: #555;
  border-radius: 2px; }
  input.non-md:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.01);
    transition: background 0.15s; }

.card {
  margin: 6px;
  display: inline-block;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12);
  text-align: left;
  background: white;
  border-radius: 2px; }
  .card .hero-names .non-md {
    box-shadow: none !important;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .card .focus-hero-names {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 12px; }
  .card .header {
    color: white;
    padding: 20px; }
    .card .header.red {
      background: #cb6165; }
    .card .header.green {
      background: #57b457; }
    .card .header.blue {
      background: #545fb4; }
    .card .header.colorless {
      background: #929292; }
  .card .card-content {
    padding: 5px 20px 20px; }
  .card hr {
    margin: 16px 0;
    border: none;
    height: 1px;
    width: 100%;
    background: #BABABA; }
  .card * {
    display: block; }
  .card .title {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .card .input-row .label {
    margin-bottom: 6px; }
  .card .card-item {
    margin-top: 12px; }
  .card .add-focus-row {
    margin-top: 10px; }
  .card .input-button-row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card .input-button-row input {
      flex-grow: 1; }
  .card .stop-after-receiving {
    text-transform: uppercase;
    font-size: 12px;
    margin: 24px 0 4px; }
  .card .checkbox-label {
    font-size: 12px;
    text-transform: uppercase; }
  .card .condition .and {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 8px 0; }
  .card .condition .condition-inner {
    padding: 16px 20px 24px;
    margin: 16px -20px;
    background: #faeeed;
    background: #f3f3f3;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    position: relative; }
    .card .condition .condition-inner .remove {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 8px;
      right: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.15s;
      font-size: 10px;
      color: #999; }
      .card .condition .condition-inner .remove:hover {
        cursor: pointer;
        color: black; }
    .card .condition .condition-inner .copies-of-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 18px;
      text-transform: uppercase;
      font-size: 12px; }
    .card .condition .condition-inner input[type='number'] {
      max-width: 50px;
      display: inline-block;
      transition: box-shadow 0.15s;
      background: white !important; }
      .card .condition .condition-inner input[type='number']:focus {
        background: white !important; }
    .card .condition .condition-inner input {
      display: inline-block; }
    .card .condition .condition-inner span {
      display: inline-block; }
    .card .condition .condition-inner md-select {
      padding-top: 8px; }

.submit-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px; }
  .submit-row .card {
    padding: 30px;
    margin: 26px 8px 20px;
    border-top: 8px solid #e26c70;
    width: 300px; }
    .submit-row .card p {
      line-height: 20px; }
    .submit-row .card .run-simulations-container {
      padding-top: 12px; }

.charts {
  max-width: 850px;
  width: 100%;
  display: inline-block;
  padding-bottom: 200px; }
  .charts .chart-category {
    border-radius: 2px;
    background: white;
    padding: 30px;
    margin: 24px 0; }
    .charts .chart-category .title {
      margin: 8px 0 24px;
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      padding-left: 30px; }
    .charts .chart-category .charts-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .charts .chart-category .charts-container .chart-container {
        padding: 12px 0;
        text-align: center;
        margin-bottom: 12px; }
        .charts .chart-category .charts-container .chart-container .statistics {
          font-size: 12px;
          display: inline-block;
          text-align: left;
          margin-top: 4px;
          color: #888; }
          .charts .chart-category .charts-container .chart-container .statistics .statistic .statistic-label {
            margin-right: 8px;
            font-size: 11px;
            text-transform: uppercase; }

/*# sourceMappingURL=app.component.css.map */
